.collection {
    border-radius: 10px !important;
    overflow-y: scroll !important;
    max-height: 80vh;
}

.userImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
}

.userName {
    font-size: xx-large !important;
    font-weight: 500;
    text-transform: uppercase;
}