.collection {
    border-radius: 10px !important;
    overflow-y: scroll !important;
    max-height: 80vh;
    background-color: white;
}

.userImage {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
    margin-right: 30px !important;
}

.userName {
    font-size: xx-large !important;
    color: black;    
    text-shadow: 1px 0 black;
    letter-spacing:1px;
    font-weight:bold;
    text-transform: uppercase;
}

.collection-item {
    padding-left: 5% !important;
}

.indent {
    text-indent: 25px;
    padding-top: 10px;
}

.gradesHidden {
    display: none
}

.gradesNotHidden {
    display: block;
}

.grades {
    padding-top: 20px;
    padding-left: 180px;
}

.addRemoveButton:hover {
    cursor: pointer;
}

.addRemoveButton {
    font-size: 50px;
    color: gray;
    font-weight: 700;
}

.tags {
    margin-left: 180px;
}

#tagButton {
    margin-top: 10px;
    margin-right: 5px;
    color: black !important;
    text-transform: lowercase;
}